h1 { 
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 45px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 25px;
} 

.row {
    margin: 0;
}

.hide {
    display: none;
}

.thumbnail .categorie-img {
    object-fit: cover;
    width: 100%;
    height: 360px;
}

.thumbnail .caption p {
    font-size: 38px;
    text-align: center;
    margin: 0 0 0 0;
    text-decoration-style: none;
}

/* RINGTONES */
.section-ringtones .ringtone-box { 
    border-radius: 1px;
    border: 2px solid #4CAF50;
    padding: 10px;
}


/* WALLPAPERS */
.section-wallpapers .wallpaper-img-container {
    float: left;
    width: 32%;
    margin: 15px 5px 25px 5px;
    text-align: center;
}

.section-wallpapers .wallpaper-img-container .img {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.section-wallpapers .categorie-item > button {
    background: none;
    border: none;
    color: white;
}

.section-wallpapers .categorie-item {
    background-color: #4CAF50;
    margin: 1px;
    padding: 5px 25px;
    text-align: center;
    font-size: 16px;
}

.section-wallpapers .categorie-item:hover {
    background-color: #4CA999;
}
.section-wallpapers .categorie-item:focus {
    background-color: #4CA999;
}

.section-wallpapers .title-categorie {
    margin-top: 0;
}

/* LOGIN */
.login-page {
    position: fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    background-color: #222;
    color: white;

}
.title-login-page{
    text-align: center;
    margin-top: 60px;
}
.login-form {
    width: 350px;
    margin: 0 auto;
}
.btn-login {
    margin: 0 auto;
    display: block;
    padding: 7px;
    width: 100%;
    background: #4CAF50;
    color: white;
    text-shadow: none;
}
.btn-login:hover {
    background-color: #4CA999;
}
.goback-text {
    position: fixed;
    top: 30px;
    left: 30px;
    font-size: 20px;
    font-weight: 700;
}

.goback-text a {
    color: darkcyan;
}